.card {
    border: none !important;
    box-shadow: "none"
  }
  
.read-only-input{
    color: rgb(138, 138, 138) !important;
    user-select: none !important;
}


.form-field-custom-class{
    border-collapse: separate;
    padding-right: 30px;
    table-layout: fixed; /*Optional*/
    border-spacing: 5px; /*Optional*/
    column-gap: 40px;
}
.display-table{
    display: table;
    table-layout: fixed; /*Optional*/
    border-spacing: 5px; /*Optional*/
    column-gap: 40px;
    min-width: 460px;
    max-width: 500px;
}

.content-section{
    display: table;
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.card-title{
    padding-bottom: 20px;
}

.card-subtitle{
    padding-bottom: 20px;
}


